.heroes {
  &__inner {
  }

  &__swiper {
  }

  &__swiper-slide {
    display: flex;
    justify-content: space-between;
  }

  &__swiper-slide-img-block {
    position: relative;
  }

  &__swiper-slide-picture {
  }

  &__swiper-btns {
  }
  &__swiper-btn {
    @extend %btn-reset;
    position: absolute;
    top: 45%;
    background-image: url(../images/icon-arrow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 36px;
    &--prev {
      left: 30px;
    }
    &--next {
      right: 30px;
      transform: rotate(180deg);
    }
  }

  &__swiper-slide-descr {
    max-width: 350px;
    margin-left: 50px;
  }

  &__swiper-slide-descr-title {
    margin: 0;
    font-style: italic;
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
    color: $bermuda;
  }

  &__swiper-slide-descr-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $white;
  }
}
