<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <meta name="description" content="Викинги, сериал 2013 года смотреть онлайн в хорошем качестве. Сериал рассказывает об отряде викингов Рагнара. Он восстал, чтобы стать королём племён викингов. ... Викинги (2013) смотреть онлайн. В основу захватывающей исторической драмы «Викинги», совместного производства Ирландии и Канады, лег ряд повествований о набегах викингов раннего средневековья Скандинавии на Британию" />
  <meta
    name="keywords"
    content="Викинги, Vikings, Викинги сериал, Рагнар, Сериал, Лагерта, Рагнар Лодброк, Викинги лучшее, Викинги смотреть, Ивар, Ролло, Викинги новые серии, Сериал викинги, Викинги финал, Бьерн, Рагнар вернется, Ивар Бескостный, Флоки, Викинги новый сезон, History, Викинг, Бьёрн, Викинги сериал смотреть, Новый сезон викингов, Лотброк"
  />
  <title>@title</title>
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-Regular.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-Bold.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-LightItalic.woff2"
    as="font"
    crossorigin="anonymous"
  />
</head>
