<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <meta name="description" content="Туры по самым экзотическим местам" />
  <meta
    name="keywords"
    content="Африка, Путешествие, Africa, Туризм, Путешествия, Намибия, Танзания, Кения, Ботсвана, Кейптаун, Мадагаскар, Занзибар, ЮАР, Мозамбик, Замбия, Конго, Тур, Отдых, Сафари в африке, Travel"
  />
  <title>@title</title>
  <link rel="stylesheet" href="css/global.css" />
  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-Regular.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-Bold.woff2"
    as="font"
    crossorigin="anonymous"
  />
  <link
    rel="preload"
    href="fonts/RobotoCondensed-LightItalic.woff2"
    as="font"
    crossorigin="anonymous"
  />
</head>
