<header class="page-header" style="
background-image: -webkit-image-set(
  url(images/page-header-bg.jpg) 1x,
  url(images/page-header-bg@2x.jpg) 2x
);
">
  <div class="container">
    <div class="page-header__top">
      <div class="page-header__top-inner">
        @include('blocks/logo.html', {
        href: true,
        className: 'page-header__logo',
        image: 'logo',
        width: 154,
        height: 56,
        alt: "Логотип сайта"
        })
        @include('blocks/main-nav.html', {
        className: 'page-header__main-nav'
        })
      </div>
    </div>
    <div class="page-header__season-info">
      <div class="page-header__season-info-inner">
        <div class="page-header__season-num">
          <b>01</b>
          <span>Сезон</span>
        </div>
        <div class="page-header__season-descr">
          <p class="page-header__season-descr-text">Сериал знакомит нас с жестоким и таинственным миром Рагнара
            Лодброка, воина-викинга и фермера, который жаждет исследовать—и совершать набеги-далекие берега океана. Его
            честолюбие ставит его в противоречие с местным вождем графом Харальдсоном, который настаивает на отправке
            своих рейдеров на бедный Восток, а не на неизведанный Запад. Когда Рагнар объединяется со своим
            другом-кораблестроителем Флоки, чтобы создать новое поколение бесстрашных кораблей, способных покорять
            бурные северные моря, сцена готова к конфликту.
          </p>
          <p class="page-header__season-descr-text">Но несмотря на всю свою войну и кровопролитие, викинги также
            являются историей семьи и братства, захватывая любовь и привязанность между Рагнаром и его женой Лагертой,
            свирепой воительницей. Это история о брате Рагнара Ролло, яростном борце, который кипит от ревности; о жене
            графа Харальдсона Зигги, послушной красавице, которая, возможно, не слишком верна; и о монахе Ательстане,
            чья христианская мораль противоречит языческому обществу викингов. Когда амбиции и инновации потрясут
            цивилизацию, эти персонажи будут подвергнуты испытанию—и их образ жизни никогда не будет прежним.</p>
        </div>
      </div>
    </div>
  </div>
</header>
