<li class="seasons__item">
  <a class="seasons__link" href="@href" aria-label="@label">
    <picture class="seasons__picture">
      <source type="image/avif" srcset="
          images/seasons/@picture.image.avif 1x,
          images/seasons/@picture.image.avif 2x
        ">
      <source type="image/webp" srcset="
          images/seasons/@picture.image.webp 1x,
          images/seasons/@picture.image.webp 2x
        ">
      <img width="350" height="250" src="images/seasons/@picture.image.jpg" srcset="images/seasons/@picture.image@2x.jpg 2x" alt="@alt">
    </picture>
  </a>
</li>
