//FONTS
$RobotoCondenced: "Roboto", "Tahoma", sans-serif;

//COLORS
$white: #ffffff;
$black: #000000;
$ebony-clay: #262e3a;
$bermuda: #85ccdc;
$cod-gray: #0e0e0e;
$mercury: #e5e5e5;
$mahogany: #600e09;

//WIDTH
$mb-width: 320px;
$sm-width: 575px;
$md-width: 767px;
$lg-width: 991px;
$xl-width: 1199px;
$xxl-width: 1399px;
