<li class="series__item">
  <button class="series__btn js-modal-btn" data-video-id="1YVxm0GKhkM" aria-label="@label">
    <picture class="series__picture">
      <source type="image/avif" srcset="
          images/series/@picture.image.avif 1x,
          images/series/@picture.image.avif 2x
        ">
      <source type="image/webp" srcset="
          images/series/@picture.image.webp 1x,
          images/series/@picture.image.webp 2x
        ">
      <img width="350" height="250" src="images/series/@picture.image.jpg" srcset="images/series/@picture.image@2x.jpg 2x" alt="@alt">
    </picture>
  </button>
</li>
